@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root {
	font-family: "Nunito", sans-serif;
}
@layer components {
	.title {
		@apply text-3xl font-black;
	}
	.h1 {
		@apply text-2xl font-black;
	}
	.h2 {
		@apply text-xl;
	}
	.h3 {
		@apply text-lg font-black;
	}
	.body {
		@apply tracking-wider;
	}
	.body-bold {
		@apply tracking-wider font-black;
	}

	/* Upload - info */
	.upload-input {
		@apply cursor-pointer relative block opacity-0 w-full h-full px-10 py-20 z-10;
	}
	.upload-info {
		@apply absolute left-0 right-0 top-20 sm:top-14 space-y-4 flex flex-col justify-center items-center;
	}

	/* Avatar */
	.avatar {
		@apply w-12 h-12 pt-1 flex  items-center bg-opacity-50 justify-center bg-primary rounded-2xl text-primary text-xl font-bold;
	}
	.avatar-text {
		@apply text-primary;
	}
	.avatar-status {
		@apply relative bottom-2 ml-9 w-3 h-3 ring-4 ring-surface rounded-full bg-success;
	}

	/* Button */

	.btn {
		@apply flex w-auto items-center space-x-2   font-semibold rounded-xl border-transparent py-1.5 transition duration-100 ease-in-out disabled:bg-opacity-50 disabled:cursor-not-allowed;
	}

	.btn-primary {
		@apply bg-primary text-on-primary px-4 hover:filter hover:saturate-150 shadow-sm transition ease-in  hover:scale-105 hover:shadow-lg active:scale-100 active:shadow-none;
	}
	.btn-gradient {
		@apply bg-gradient-to-r from-primary px-4 to-indigo-500 text-on-primary hover:bg-opacity-75 hover:scale-105 hover:shadow-xl;
	}
	.btn-secondary {
		@apply ring-secondary ring-2 px-4 text-on-secondary  hover:ring-primary hover:text-primary;
	}
	.btn-error {
		@apply bg-error text-on-error px-4 hover:saturate-150 shadow-sm transition ease-in  hover:scale-105 hover:shadow-lg active:scale-100 active:shadow-none;
	}
	.btn-text {
		@apply bg-transparent px-2 text-on-background  transition ease-in hover:bg-secondary/25;
	}
	.btn-text-error {
		@apply bg-transparent text-error hover:text-secondary;
	}

	/* Progress */
	.progress {
		@apply h-full bg-primary relative w-0 rounded-full;
	}
	.progress-outline {
		@apply w-full h-full bg-background absolute;
	}
	.progress-container {
		@apply h-3 relative w-full rounded-xl overflow-hidden;
	}
	.progress-text {
		@apply font-semibold min-w-max;
	}
	.progress-wrap {
		@apply flex flex-row items-center space-x-4 px-2;
	}
}
